@charset "UTF-8";
/* COLORES MOVISTAR */
/* COLORES MOVISTAR */
/* FONT IMPORT */
@font-face {
  font-family: "Telefonica-Regular";
  src: url("fonts/regular/telefonicaweb-regular.eot") format("eot"), url("fonts/regular/telefonicaweb-regular.woff") format("woff");
}
@font-face {
  font-family: "Telefonica-RegularItalic";
  src: url("fonts/regularitalic/telefonicaweb-regularitalic.eot") format("eot"), url("fonts/regularitalic/telefonicaweb-regularitalic.woff") format("woff");
}
@font-face {
  font-family: "Telefonica-Bold";
  src: url("fonts/bold/telefonicaweb-bold.eot") format("eot"), url("fonts/bold/telefonicaweb-bold.woff") format("woff");
}
@font-face {
  font-family: "Telefonica-Light";
  src: url("fonts/light/telefonicaweb-light.eot") format("eot"), url("fonts/light/telefonicaweb-light.woff") format("woff");
}
@font-face {
  font-family: "Telefonica-ExtraLight";
  src: url("fonts/extralight/telefonicaweb-extralight.eot") format("eot"), url("fonts/extralight/telefonicaweb-extralight.woff") format("woff");
}
@font-face {
  font-family: "Telefonica-Hand";
  src: url("fonts/hand/telefonicaweb-hand.eot") format("eot"), url("fonts/hand/telefonicaweb-hand.woff") format("woff");
}
/* FONT IMPORT */
/* FUENTES */
/* VARIABLES DE RESPONSIVE */
/* MENÚ PRINCIPAL */
header {
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  width: 100% !important;
  z-index: 1 !important;
  background-color: #fff;
}

nav ul li {
  list-style: none;
  padding-top: 17px !important;
}
nav ul li img {
  padding-top: 5px;
  height: 40px;
}
nav ul li h3 {
  line-height: 8px;
  font-size: 20px;
}
nav ul li small {
  color: #EC6839;
}

.clock .clock-box {
  background: #E9EAE8;
  padding: 4px;
  margin-right: 5px;
  font-size: 14px;
  font-family: "Telefonica-Bold";
  border-radius: 4px;
}
.clock small {
  color: #50535A;
  font-family: "Telefonica-Regular";
  font-size: 10px;
  padding: 0px;
  margin: 0px;
}

/* MENÚ PRINCIPAL */
/* SLIDE */
.heading {
  height: 40px;
}

.slider {
  z-index: -1px;
  background-image: url("../img/banner-slide-dia-del-padre.jpg");
  background-size: 1440px 581px;
  background-position: top center !important;
  background-repeat: no-repeat;
  height: 581px;
  padding-top: 0px;
}
.slider .s-bg {
  position: relative;
  width: 100%;
}
.slider .s-content {
  padding-top: 90px;
}
.slider .s-content h1 {
  font-size: 40px;
}
.slider .s-content p {
  font-size: 22px;
}
.slider .s-content img {
  width: 120%;
  padding-top: 30px;
}

.slide-form {
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 350px;
  display: block;
  margin-left: 150px;
  margin-top: 40px;
}

.popup-form {
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: block;
}

/* SLIDE */
/* SECTION PREMIOS */
.s-premios {
  padding-top: 60px !important;
}
.s-premios h2 {
  font-size: 30px;
}

.visible-phone {
  display: none;
}

.carousel-control-next-icon {
  background-image: url("../img/chevron-right.svg") !important;
}

.carousel-control-prev-icon {
  background-image: url("../img/chevron-left.svg") !important;
}

.carousel-indicators {
  bottom: 0px !important;
}
.carousel-indicators li {
  background-color: #B6B7B7;
}
.carousel-indicators .active {
  background-color: #5BC500;
}

/* SECTION PREMIOS */
/* SECTION CATÁLOGO */
.s-catalogo h2 {
  font-size: 30px;
}

#pills-tab {
  width: 283px;
  margin-left: auto;
  margin-right: auto;
}

.nav-link.active {
  background-color: #00A9E0 !important;
}

.etiqueta {
  border-radius: 20px;
  padding: 4px 10px;
  text-transform: uppercase;
  font-size: 12px;
}

.precio {
  font-size: 40px !important;
}

.sub {
  padding-top: 15px;
  font-size: 15px !important;
  line-height: 15px;
}

.tab-pane {
  padding: 10px !important;
}

.card-phone {
  margin-top: 30px;
  margin-bottom: 30px;
}
.card-phone div a {
  margin-top: 50px;
}

.card-content {
  margin-top: 40px;
}

/* SECTION CATÁLOGO */
/* BANNER INFERIOR */
.banner-ups h2 {
  font-size: 30px !important;
}
.banner-ups p {
  font-size: 20px !important;
}
.banner-ups .content {
  padding-left: 200px;
}
.banner-ups .image {
  padding-left: 80px;
}

/* BANNER INFERIOR */
.ancla-activa {
  padding: 20px 20px;
  border-radius: 4px;
  -webkit-animation: seeme 2s;
  animation: seeme 3s;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes seeme {
  0% {
    transform: scale(1, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  }
  20% {
    transform: scale(1.02, 1.02);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  40% {
    transform: scale(1, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  }
  60% {
    transform: scale(1.02, 1.02);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  80% {
    transform: scale(1, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  }
}
@media (max-width: 425px) {
  header {
    position: initial;
    top: 75%;
    height: 35%;
  }
  header nav ul {
    padding: 0px;
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  header nav ul li {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: auto !important;
    padding-right: auto !important;
    padding-top: 10px !important;
    text-align: center !important;
  }

  .clock {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px;
  }

  .title-time {
    text-align: center !important;
  }

  .visible-desktop {
    display: none !important;
  }

  .visible-phone {
    display: block !important;
  }

  .slider {
    background-image: url("../img/banner-slide-dia-del-padre-premios-mobile.jpg");
    background-size: 100%;
    background-position: bottom center !important;
    height: 380px;
  }

  .s-content {
    padding-top: 30px !important;
  }
  .s-content h1 {
    font-size: 27px !important;
    text-align: center;
  }
  .s-content h3 {
    text-align: center;
  }
  .s-content p {
    text-align: center;
    font-size: 16px !important;
  }
  .s-content img {
    width: 100% !important;
    padding-top: 87px !important;
  }

  .slide-form {
    margin-left: 0px;
    width: 100%;
    display: none;
  }

  .s-premios {
    margin-top: 0px !important;
  }

  .tab-pane {
    padding: 20px;
  }
  .tab-pane div h6 {
    margin-top: 10px !important;
  }
  .tab-pane div a {
    margin-top: 10px;
  }

  .price-content {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .etiqueta {
    margin-top: 0px !important;
    font-size: 10px !important;
  }

  .card-phone {
    margin-top: 30px;
    margin-top: 30px;
  }

  .card-content {
    margin-top: 0px;
  }

  .banner-ups {
    height: 300px !important;
  }
  .banner-ups h2 {
    font-size: 30px !important;
  }
  .banner-ups p {
    font-size: 22px !important;
  }
  .banner-ups .content {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
  }
  .banner-ups .image {
    text-align: center;
  }
}
/*---------------------- */
/*--MAIN-- */
/*--------------------*/
body {
  font-family: "Telefonica-Regular", "Verdana", "Arial";
  color: #50535A;
}

html {
  scroll-behavior: smooth;
}

/*---------------------- */
/*--COLORS-- */
/*--------------------*/
/* Background */
.bg-azul-movistar {
  background-color: #00A9E0;
}

.bg-verde-movistar {
  background-color: #5BC500;
}

.bg-purpura-movistar {
  background-color: #954b97;
}

.bg-magenta-movistar {
  background-color: #E9426D;
}

.bg-naranja-movistar {
  background-color: #EC6839;
}

.bg-amarillo-movistar {
  background-color: #F59C00;
}

.bg-gris-movistar-0 {
  background-color: #F4F4F3;
}

.bg-gris-movistar-1 {
  background-color: #E9EAE8;
}

.bg-gris-movistar-3 {
  background-color: #B6B7B7;
}

.bg-gris-movistar-4 {
  background-color: #86888C;
}

.bg-gris-movistar-5 {
  background-color: #50535A;
}

/* Text */
.text-blanco {
  color: #FFFFFF;
}

.text-azul-movistar {
  color: #00A9E0;
}

.text-verde-movistar {
  color: #5BC500;
}

.text-purpura-movistar {
  color: #954b97;
}

.text-magenta-movistar {
  color: #E9426D;
}

.text-naranja-movistar {
  color: #EC6839;
}

.text-amarillo-movistar {
  color: #F59C00;
}

.text-gris-movistar-0 {
  color: #F4F4F3;
}

.text-gris-movistar-1 {
  color: #E9EAE8;
}

.text-gris-movistar-3 {
  color: #B6B7B7;
}

.text-gris-movistar-4 {
  color: #86888C;
}

.text-gris-movistar-5 {
  color: #50535A;
}

/* Fonts */
.regular {
  font-family: "Telefonica-Regular";
}

.regular-italic {
  font-family: "Telefonica-RegularItalic";
}

.bold {
  font-family: "Telefonica-Bold";
}

.light {
  font-family: "Telefonica-Light";
}

.extra-light {
  font-family: "Telefonica-ExtraLight";
}

.hand {
  font-family: "Telefonica-Hand";
}

/*---------------------- */
/*--PARAGRAPH-- */
/*--------------------*/
h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
}

a {
  color: #00A9E0;
}
a:hover {
  color: #47d2ff;
}

.texto-tachado {
  text-decoration: line-through !important;
}

.f-8 {
  font-size: 12px;
}

/*---------------------- */
/*--BUTTONS-- */
/*--------------------*/
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.6875rem 1.375rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-radius: 0.28571429rem;
  font-family: "Telefonica-Light", "Verdana", "Arial" !important;
  letter-spacing: 0;
  color: #FFFFFF !important;
  border: none;
}

.btn-primary {
  background: #5BC500;
}
.btn-primary:hover {
  background: #63d700;
}
.btn-primary:active {
  background: #53b300 !important;
}
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary {
  background: #00A9E0;
  color: white !important;
}
.btn-secondary:hover {
  background: #00b6f2;
}
.btn-secondary:active {
  background: #009cce !important;
}
.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-dark {
  background: #50535A;
}
.btn-dark:hover {
  background: #585c63;
}
.btn-dark:active {
  background: #484a51 !important;
}
.btn-dark:focus {
  box-shadow: none !important;
}

/*---------------------- */
/*--INPUTS-- */
/*--------------------*/
input, textarea {
  background-color: #F4F4F3 !important;
  border-radius: 4px !important;
  border: none !important;
}
input:focus, textarea:focus {
  border: 1px solid #00A9E0 !important;
  box-shadow: none !important;
  background-color: white !important;
}

.filled {
  border: 1px solid #50535A !important;
  background-color: white !important;
}

input.error {
  border: 1px solid #E9426D !important;
  background-color: white !important;
}

label.error {
  color: #E9426D !important;
}

.required-star {
  color: #E9426D !important;
}

/* Tabs */
.nav-link {
  border-radius: 40px !important;
  cursor: pointer;
}
.nav-link .active {
  color: white !important;
  background-color: #00A9E0 !important;
}

/*# sourceMappingURL=styles.css.map */
