@import "imports/variables"
@import "imports/lp-padres"
@import "imports/responsive"

/*----------------------
/*--MAIN--
/*--------------------*/


body
	font-family: 'Telefonica-Regular', 'Verdana', 'Arial'
	color: $gris-movistar-5
html
	scroll-behavior: smooth

/*----------------------
/*--COLORS--
/*--------------------*/


/* Background */
.bg-azul-movistar
	background-color: $azul-movistar
.bg-verde-movistar
	background-color: $verde-movistar
.bg-purpura-movistar
	background-color: $purpura-movistar
.bg-magenta-movistar
	background-color: $magenta-movistar
.bg-naranja-movistar
	background-color: $naranja-movistar
.bg-amarillo-movistar
	background-color: $amarillo-movistar
.bg-gris-movistar-0
	background-color: $gris-movistar-0
.bg-gris-movistar-1
	background-color: $gris-movistar-1
.bg-gris-movistar-3
	background-color: $gris-movistar-3
.bg-gris-movistar-4
	background-color: $gris-movistar-4
.bg-gris-movistar-5
	background-color: $gris-movistar-5

/* Text */
.text-blanco
	color: #FFFFFF
.text-azul-movistar
	color: $azul-movistar
.text-verde-movistar
	color: $verde-movistar
.text-purpura-movistar
	color: $purpura-movistar
.text-magenta-movistar
	color: $magenta-movistar
.text-naranja-movistar
	color: $naranja-movistar
.text-amarillo-movistar
	color: $amarillo-movistar
.text-gris-movistar-0
	color: $gris-movistar-0
.text-gris-movistar-1
	color: $gris-movistar-1
.text-gris-movistar-3
	color: $gris-movistar-3
.text-gris-movistar-4
	color: $gris-movistar-4
.text-gris-movistar-5
	color: $gris-movistar-5

/* Fonts */
.regular
	font-family: 'Telefonica-Regular'
.regular-italic
	font-family: 'Telefonica-RegularItalic'
.bold
	font-family: 'Telefonica-Bold'
.light
	font-family: 'Telefonica-Light'
.extra-light
	font-family: 'Telefonica-ExtraLight'
.hand
	font-family: 'Telefonica-Hand'

/*----------------------
/*--PARAGRAPH--
/*--------------------*/


h1
	font-size: 2.625rem
h2
	font-size: 1.5rem
h3
	font-size: 1.25rem
h4
	font-size: 1.125rem
p
	font-size: 1rem
small
	font-size: 0.875rem

a
	color: $azul-movistar
	&:hover
		color: lighten($azul-movistar, 20%)

.texto-tachado
	text-decoration: line-through !important
.f-8
	font-size: 12px

/*----------------------
/*--BUTTONS--
/*--------------------*/

.btn
	text-align: center
	vertical-align: middle
	padding: 0.6875rem 1.375rem
	font-size: 1.125rem
	line-height: 1.5rem
	border-radius: 0.28571429rem
	font-family: 'Telefonica-Light', 'Verdana', 'Arial' !important
	letter-spacing: 0
	color: #FFFFFF !important
	border: none

.btn-primary
	background: $verde-movistar
	&:hover
		background: lighten($verde-movistar, 3.5%)
	&:active
		background: darken($verde-movistar, 3.5%) !important
	&:focus
		box-shadow: none !important

.btn-secondary
	background: $azul-movistar
	color: white !important
	&:hover
		background: lighten($azul-movistar, 3.5%)
	&:active
		background: darken($azul-movistar, 3.5%) !important
	&:focus
		box-shadow: none !important

.btn-dark
	background: $gris-movistar-5
	&:hover
		background: lighten($gris-movistar-5, 3.5%)
	&:active
		background: darken($gris-movistar-5, 3.5%) !important
	&:focus
		box-shadow: none !important

/*----------------------
/*--INPUTS--
/*--------------------*/

input, textarea
	background-color: $gris-movistar-0 !important
	border-radius: 4px !important
	border: none !important
	&:focus
		border: 1px solid $azul-movistar !important
		box-shadow: none !important
		background-color: white !important

.filled
	border: 1px solid $gris-movistar-5 !important
	background-color: white !important
input.error
	border: 1px solid $magenta-movistar !important
	background-color: white !important
label.error
	color: $magenta-movistar !important
.required-star
	color: $magenta-movistar !important

/* Tabs */
.nav-link
	border-radius: 40px !important
	cursor: pointer
	.active
		color: white !important
		background-color: $azul-movistar !important
