/* MENÚ PRINCIPAL */

header
	height: 80px
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	position: fixed
	width: 100% !important
	z-index: 1!important
	background-color: #fff 

nav
	ul
		li
			list-style: none
			padding-top: 17px !important
			img
				padding-top: 5px
				height: 40px
			h3
				line-height: 8px
				font-size: 20px
			small
				color: $naranja-movistar


.clock
	.clock-box
		background: $gris-movistar-1
		padding: 4px
		margin-right: 5px
		font-size: 14px
		font-family: $bold
		border-radius: 4px
	small
		color: $gris-movistar-5
		font-family: $regular
		font-size: 10px
		padding: 0px
		margin: 0px

/* MENÚ PRINCIPAL */
/* SLIDE */
.heading
	height: 40px
.slider
	z-index: -1px
	background-image: url('../img/banner-slide-dia-del-padre.jpg')
	background-size: 1440px 581px
	background-position:  top center !important
	background-repeat: no-repeat
	height: 581px
	padding-top: 0px
	.s-bg
		position: relative
		width: 100%
	.s-content
		padding-top: 90px
		h1
			font-size: 40px
		p
			font-size: 22px
		img
			width: 120%
			padding-top: 30px 
.slide-form
	border-radius: 4px
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	width: 350px
	display: block
	margin-left: 150px
	margin-top: 40px
.popup-form
	border-radius: 4px
	box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	display: block
/* SLIDE */

/* SECTION PREMIOS */
.s-premios
	padding-top: 60px !important
	h2
		font-size: 30px
.visible-phone
	display: none

.carousel-control-next-icon
	background-image: url('../img/chevron-right.svg') !important
.carousel-control-prev-icon
	background-image: url('../img/chevron-left.svg') !important
.carousel-indicators
	bottom: 0px !important
	li
		background-color: $gris-movistar-3
	.active
		background-color: $verde-movistar

/* SECTION PREMIOS */

/* SECTION CATÁLOGO */
.s-catalogo
	h2
		font-size: 30px
#pills-tab
	width: 283px
	margin-left: auto
	margin-right: auto

//Tabs
.nav-link.active
	background-color: $azul-movistar !important
//Producto
.etiqueta
	border-radius: 20px
	padding: 4px 10px
	text-transform: uppercase
	font-size: 12px
.precio
	font-size: 40px !important
.sub
	padding-top: 15px
	font-size: 15px !important
	line-height: 15px
.tab-pane
	padding: 10px !important
.card-phone
	// box-shadow: 0px 2px 4px rgba(0,0,0,0)
	// transition: box-shadow 1s
	// background-color: #fff
	// &:hover
	// 	box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	margin-top: 30px
	margin-bottom:30px
	div
		a
			margin-top: 50px
.card-content
		margin-top: 40px
/* SECTION CATÁLOGO */

/* BANNER INFERIOR */
.banner-ups
	h2
		font-size: 30px !important
	p
		font-size: 20px !important
	.content
		padding-left: 200px
	.image
		padding-left: 80px
/* BANNER INFERIOR */


//anclas
.ancla-activa
	
	padding: 20px 20px
	border-radius: 4px
	
	-webkit-animation: seeme 2s 
	animation: seeme 3s 
	animation-duration: 3s
	animation-delay: 1s

@keyframes seeme
	0%
		transform: scale(1,1)
		box-shadow: 0px 2px 4px rgba(0,0,0,0)
	20%
		transform: scale(1.02,1.02)
		box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	40%
		transform: scale(1,1)
		box-shadow: 0px 2px 4px rgba(0,0,0,0)
	60%
		transform: scale(1.02,1.02)
		box-shadow: 0px 2px 4px rgba(0,0,0,0.15)
	80%
		transform: scale(1,1)
		box-shadow: 0px 2px 4px rgba(0,0,0,0)
	100%
		transform: scale(1,1)
		box-shadow: 0px 2px 4px rgba(0,0,0,0)


