@media (max-width: $phone)
	header
		position: initial
		top: 75%
		height:35%

		nav
			ul
				padding: 0px
				width: 100%
				margin-left: auto !important
				margin-right: auto !important

				li
					margin-left: auto !important
					margin-right: auto !important
					padding-left: auto !important
					padding-right: auto !important
					padding-top: 10px !important
					text-align: center !important

	.clock
		margin-left: auto !important
		margin-right: auto !important
		padding: 0px
	.title-time
		text-align: center !important
	.visible-desktop
		display: none !important
	.visible-phone
		display: block !important
	.slider
		background-image: url('../img/banner-slide-dia-del-padre-premios-mobile.jpg')
		background-size: 100%
		background-position: bottom center !important
		height: 380px
	.s-content
		padding-top: 30px !important
		h1
			font-size: 27px !important
			text-align: center
		h3 
			text-align: center
		p
			text-align: center
			font-size: 16px !important
		img
			width: 100% !important
			padding-top: 87px !important
	.slide-form
		margin-left: 0px
		width: 100%
		display: none
	.s-premios
		margin-top: 0px !important
	.tab-pane
		padding: 20px
		div
			h6
				margin-top: 10px !important
			a
				margin-top: 10px
	.price-content
		margin-right: 0px !important
		margin-left: 0px !important
		padding-left: 0px !important
		padding-right: 0px !important
	.etiqueta
		margin-top: 0px !important
		font-size: 10px !important

	.card-phone
		margin-top: 30px
		margin-top: 30px
	.card-content
		margin-top: 0px
	.banner-ups
		height: 300px!important
		h2
			font-size: 30px !important
		p
			font-size: 22px !important
		.content
			padding-left: 0px !important
			padding-right: 0px !important
			text-align: center
		.image
			text-align: center
	

