/* COLORES MOVISTAR */
$azul-movistar:             #00A9E0
$verde-movistar:            #5BC500
$purpura-movistar:          #954b97
$magenta-movistar:          #E9426D
$naranja-movistar:          #EC6839
$rojo-movistar:             #E9426D
$amarillo-movistar:         #F59C00
$gris-movistar-5:           #50535A
$gris-movistar-4:           #86888C
$gris-movistar-3:           #B6B7B7
$gris-movistar-1:           #E9EAE8
$gris-movistar-0:           #F4F4F3

/* COLORES MOVISTAR */

/* FONT IMPORT */
@font-face
	font-family: 'Telefonica-Regular'
	src: url('fonts/regular/telefonicaweb-regular.eot') format('eot'), url('fonts/regular/telefonicaweb-regular.woff') format('woff')
@font-face
	font-family: 'Telefonica-RegularItalic'
	src: url('fonts/regularitalic/telefonicaweb-regularitalic.eot') format('eot'), url('fonts/regularitalic/telefonicaweb-regularitalic.woff') format('woff')
@font-face
	font-family: 'Telefonica-Bold'
	src: url('fonts/bold/telefonicaweb-bold.eot') format('eot'), url('fonts/bold/telefonicaweb-bold.woff') format('woff')
@font-face
	font-family: 'Telefonica-Light'
	src: url('fonts/light/telefonicaweb-light.eot') format('eot'), url('fonts/light/telefonicaweb-light.woff') format('woff')
@font-face
	font-family: 'Telefonica-ExtraLight'
	src: url('fonts/extralight/telefonicaweb-extralight.eot') format('eot'), url('fonts/extralight/telefonicaweb-extralight.woff') format('woff')
@font-face
	font-family: 'Telefonica-Hand'
	src: url('fonts/hand/telefonicaweb-hand.eot') format('eot'), url('fonts/hand/telefonicaweb-hand.woff') format('woff')
/* FONT IMPORT */

/* FUENTES */
$regular:         'Telefonica-Regular'
$regular-italic:  'Telefonica-RegularItalic'
$bold:            'Telefonica-Bold'
$light:           'Telefonica-Light'
$extra-light:     'Telefonica-ExtraLight'
$hand:            'Telefonica-Hand'


/* VARIABLES DE RESPONSIVE */
$laptop:      1090px
$tablet:      768px
$phone:       425px
